

  .loadingScreen{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .address{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);;
    width: 100%;
   padding: 5%;
   margin-top: 5%;
  }
  
  .tabledesign  td {
    border-collapse: collapse;
    border-bottom:0.5px solid gray;
  border-spacing: 0;
    word-wrap: break-word;
    overflow-x:auto;
   width: 60%;
}
.backbutton{
  border-radius:30%;
  border:2px solid red;
  width:10%;
  margin-bottom:2%;
  background-color: white;
  font-size: large;
  color:red
}
.link{
  text-decoration:none;
  color:red;
}
.backbutton:hover{
  background-color: red;
  
}
 .link:hover{
  color: white;
  text-decoration:none;
}